/* MOBILE FIRST ;)) */
*{margin:0px;padding:0px;box-sizing: border-box; font-size: 1.0rem;font-family: Verdana, Geneva, Tahoma, sans-serif;}
/* reset : ok */

/* Cette font est énorme. */
@font-face {
    font-family: japFont;
    src: url(Karate.ttf);
}

/* One page complete */
body {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
}

header {
    width: 100%;
    max-width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff0000;
    /* background: linear-gradient(180deg,#ff0000 0%, #ffffff 100%); */
    /* background: linear-gradient(180deg,#fede47 0%, #eb132d 75%, #ffffff 100%); */
    /* background: linear-gradient(180deg,#d2691e 0%, #d2691e 25%, #ffffff 100%); */
}
header h1 {
    font-size: 1.8rem;
    word-spacing: 10vw;
}
.fontSpe {
    font-family: japFont;
}

#mklogo {
    position: absolute;
    height: 8%;
    top: 2%;
    left: unset;
    right: 2%;
}
main {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
}
#content {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    flex: 1;
}
#butDiv {
    display: flex;
    justify-content: center;
    gap: 2vw;
    padding-top: 1%;
}
#rule, #stats, #sound {
    flex: 0.2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    transform: scale(0);
    animation-delay: 1.6s;
    animation-timing-function: ease-in-out;
}

#rule span, #stats span {
    padding: 3px;
    font-size: 1.5rem;
    cursor: pointer;
}
#sound{
    display: flex;
    justify-content: center;
    align-items: center;
}
#sound span {
    max-height: 65%;
    max-width: 100%;
}
.soundOn {
    width: 100%;
    height: 100%;
    background-image: url(../img/soundOn.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.soundOff {
    width: 100%;
    height: 100%;
    background-image: url(../img/soundOff.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
/* SECTION MODAL */
#mdlCnt {
    display: flex;
    justify-content: center;
}
/* MODAL ONE (REGLES) */
#rulesModal {
    display: none; /* Hidden par default */
    position: fixed; 
    z-index: 1; /* pour qu'elle soit tjrs au dessus*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
/* Modal Content/Box */
#modalContent {
    background-color: #fefefe;
    margin: 10% auto;
    border: 1px solid #888;
    width: 80%; 
    height: 75%;
    display: flex;
    flex-direction: column;
    padding: 0% 3% 10% 3%;
}
  /* The Close Button */
#closeModal {
    color: #aaa;
    float: right;
    font-weight: bold;
    justify-self:right;
    margin-right: 20px;
    cursor: pointer;
}
#modalContent span {
    font-size: 30px;
    padding: 1%;
    text-align: center;
}
#modalContent img {
    max-width: 100%;
    max-height: 30%;
    object-fit: contain;
}
/* MODAL 2 STATS */
#statsModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
/* Modal Content/Box */
#modalStatsContent {
    background-color: #fefefe;
    margin: 15% auto;
    border: 1px solid #888;
    width: 80%;
    padding: 0% 3% 10% 3%;
    display: flex;
    flex-direction: column;
}
  /* The Close Button */
#closeStatsModal {
    color: #aaa;
    font-size: 30px;
    font-weight: bold;
    justify-self:right;
    margin-right: 20px;
    cursor: pointer;
    align-self: flex-end;
}
#winOrLoose h2 {
    font-size: 30px;
    font-weight: normal;
}
/* MODAL 3 WELCOME */
#welcomeModal {
    display: block;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
/* Modal welcome content */
#welcomeModalContent {
    background-color: #fefefe;
    margin: 25% auto;
    border: 1px solid #888;
    width: 80%;
    padding: 3% 3% 5% 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#welcomeModalContent span {
    font-size: 24px;
    text-align: center;
}
#startGame {
    border: none;
    background-color: #EC202E;
    width: 80%;
    font-family: japFont;
    font-size: 22px;
    height: 6vh;
    border-radius: 10px;
    cursor: pointer;
    padding-top: 0.5%;
    margin-top: 3vh;
}
/* FIN DE SECTION MODAL */
#unNamedDiv {
    flex: 0.7;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#textSpan {
    transform: scale(0);
    font-size: 2.5rem;
}
#handsChoice {
    width: 100%;
    height: 100%;
    padding-bottom: 2vh;
    display: flex;
    justify-content: center;
}
#pierre, #feuille, #ciseaux {
    width: 30%;
    border: none;
    cursor: pointer;
}
#pierre {
    top: -700%;
    position: relative;
    background: url('../img/pierre.png') no-repeat;
    background-size: contain;
    background-position: center;
    animation-delay: 0.4s;
}
#feuille {
    top: -700%;
    position: relative;
    background: url('../img/feuille.png') no-repeat;
    background-size: contain;
    background-position: center;
    animation-delay: 0.8s;
}
#ciseaux {
    top: -700%;
    position: relative;
    background: url('../img/ciseaux.png') no-repeat;
    background-size: contain;
    background-position: center;
    animation-delay: 1.2s;
}
.fromTop {
    animation: fromTop 0.4s ease-in-out 0s 1 normal forwards;
}
@keyframes fromTop {
    from{top:-700%;}
    to{top:0%;}
}
.fromScale0 {
    animation: fromScale0 0.4s ease-in-out 0s 1 normal forwards;
}
@keyframes fromScale0 {
    from{transform: scale(0);}
    to{transform: scale(1);}
}
#insertCompChoose {
    flex: 0.8;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 5vh;
    overflow: hidden;
    background-image: url(../img/mkArena.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
#resultText {
    text-align: center;
    width: 100%;
    transform: scale(0);
    color: rgba(255, 255, 255, 0.616);
    padding-top: 2vh;
    font-family: japFont;
    font-size: 45px;
    animation: fastScale 0.4s ease-in-out 0.8s 1 normal forwards;
}

@keyframes movingResult {
    from{font-size: 0;}
    to{font-size: 2rem;}
}

.fromRight {
    position: relative;
    max-height: 40%;
    bottom: 4vh;
    animation-fill-mode: forwards;
    animation-name: fromRight, shake;
    animation-delay: 0s, .9s;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    
}
.humanChoose {
    position: relative;
    left: 0%;
    bottom: 4vh;
    max-height: 40%;
    animation-fill-mode: forwards;
    animation-name: fastScale, shake;
    animation-delay: 0s, .9s;
    animation-duration: 0.2s, 0.4s;
    animation-timing-function: ease-in-out;
}
@keyframes fastScale {
    from{transform: scale(0);}
    to{transform: scale(1);}
}
@keyframes fromRight {
    from {left: 100%;}
    to {left: 0%;}
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
#winOrLoose {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: baseline;
    width: 100%;
}
#winCount, #looseCount, #nbTotalGame, #percentOfWin, #resetStats {
    font-size: 1.2rem;
    background-color: #EC202E;
    color: white;
    width: 70%;
    text-align: center;
    border: 1px solid #ffffff;
    padding: 1%;
}
#resetStats {
    margin-top: 2vh;
}
#resetStats:hover {
    cursor: pointer;
}
audio {
    height: 0px;
    width: 0px;
}

footer {
    position: relative;
    top: 0%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background: linear-gradient(0deg,#d2691e 0%, #d2691e 25%, #ffffff 100%); */
    /* background: linear-gradient(0deg,#fede47 0%, #eb132d 75%, #ffffff 100%); */
    /* background: linear-gradient(0deg,#ff0000 0%, #ffffff 100%); */
    background-color: #ff0000;
}
footer span {
    font-size: 12px;
    padding-bottom: 20px;
    color: white;
}
footer a {
    position: absolute;
    right: 2%;
    bottom: 3%;
}
footer a img {
    max-width: 20vw;
    max-height: 10vh;
}

@media screen and (min-width: 992px) {
    #rule span, #stats span {
        font-size: 28px;
    }
    #modalContent {
        height: 60%;
    }
    #modalStatsContent {
        margin: 7% auto;
    }
    #winOrLoose h2 {
        font-weight: normal;
        font-size: 40px;
    }
    #winOrLoose span {
        font-size: 25px;
    }
    .pushImg:hover {
        transform: scale(1.1);
        transition-duration: 0.4s;
    }
    #welcomeModalContent {
        margin: 12% auto;
    }
}