/* MOBILE FIRST ;)) */
*{margin:0px;padding:0px;box-sizing: border-box; font-size: 1.0rem;font-family: Verdana, Geneva, Tahoma, sans-serif;}
/* reset : ok */

/* Cette font est énorme. */
@font-face {
    font-family: japFont;
    src: url(Karate.ttf);
}

/* One page complete */
body {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
}

header {
    width: 100%;
    max-width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff0000;
    /* background: linear-gradient(180deg,#ff0000 0%, #ffffff 100%); */
    /* background: linear-gradient(180deg,#fede47 0%, #eb132d 75%, #ffffff 100%); */
    /* background: linear-gradient(180deg,#d2691e 0%, #d2691e 25%, #ffffff 100%); */
}
header h1 {
    font-size: 1.8rem;
    word-spacing: 10vw;
}
.fontSpe {
    font-family: japFont;
}
.txtWhite {
    color: white;
}
.txtBlack {
    color: black;
}
#mklogo {
    position: absolute;
    height: 8%;
    top: 2%;
    left: unset;
    right: 2%;
}
main {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
}
#content {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    flex: 1;
}
#butDiv {
    display: flex;
    justify-content: center;
    gap: 2vw;
    padding-top: 1%;
}
#rule, #stats, #sound {
    flex: 0.2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    transform: scale(0);
    animation-delay: 1.6s;
    animation-timing-function: ease-in-out;
}

#rule span, #stats span {
    padding: 3px;
    font-size: 1.5rem;
    cursor: pointer;
}
#sound{
    display: flex;
    justify-content: center;
    align-items: center;
}
#sound span {
    max-height: 65%;
    max-width: 100%;
}
.soundOn {
    width: 100%;
    height: 100%;
    background-image: url(../img/soundOn.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.soundOff {
    width: 100%;
    height: 100%;
    background-image: url(../img/soundOff.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
/* SECTION MODAL */
#mdlCnt {
    display: flex;
    justify-content: center;
}
/* MODAL ONE (REGLES) */
#rulesModal {
    display: none; /* Hidden par default */
    position: fixed; 
    z-index: 1; /* pour qu'elle soit tjrs au dessus*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
/* Modal Content/Box */
#modalContent {
    background-color: #fefefe;
    margin: 10% auto;
    border: 1px solid #888;
    width: 80%; 
    height: 75%;
    display: flex;
    flex-direction: column;
    padding: 0% 3% 10% 3%;
}
  /* The Close Button */
#closeModal {
    color: #aaa;
    float: right;
    font-weight: bold;
    justify-self:right;
    margin-right: 20px;
    cursor: pointer;
}
#modalContent span {
    font-size: 30px;
    padding: 1%;
    text-align: center;
}
#modalContent img {
    max-width: 100%;
    max-height: 30%;
    object-fit: contain;
}
/* MODAL 2 STATS */
#statsModal, #finalModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
/* Modal Content/Box */
#modalStatsContent, #finalModalContent {
    background-color: #fefefe;
    margin: 15% auto;
    border: 1px solid #888;
    width: 80%;
    padding: 0% 3% 10% 3%;
    display: flex;
    flex-direction: column;
}
  /* The Close Button */
#closeStatsModal, #closeFinalModal {
    color: #aaa;
    font-size: 30px;
    font-weight: bold;
    justify-self:right;
    margin-right: 20px;
    cursor: pointer;
    align-self: flex-end;
}
#winOrLoose h2 {
    font-size: 30px;
    font-weight: normal;
}
/* MODAL FINAL WIN OR LOOSE */
#insertContentFinalModal {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* MODAL 3 WELCOME */
#welcomeModal {
    display: block;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
/* Modal welcome content */
#welcomeModalContent {
    background-color: #fefefe;
    margin: 25% auto;
    border: 1px solid #888;
    width: 80%;
    padding: 3% 3% 5% 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#welcomeModalContent span {
    font-size: 24px;
    text-align: center;
    padding: 2px;
}
#welcomeModalContent form {
    width: 70%;
    text-align: center;
}
#welcomeModalContent input {
    width: 70%;
    border: none;
    border-bottom: 1px solid red;
    padding: 3px;
    margin: 2% auto 2% auto;
}
#welcomeModalContent input:focus {
    outline: none;
    border-bottom: 1px solid black;
}
#startGame {
    border: none;
    background-color: #EC202E;
    width: 80%;
    font-family: japFont;
    font-size: 22px;
    height: 6vh;
    border-radius: 10px;
    cursor: pointer;
    padding-top: 0.5%;
    margin: 3vh auto 1% auto;
}

/* FIN DE SECTION MODAL */
#unNamedDiv {
    flex: 0.7;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#textSpan {
    transform: scale(0);
    font-size: 2.5rem;
}
#handsChoice {
    width: 100%;
    height: 100%;
    padding-bottom: 2vh;
    display: flex;
    justify-content: center;
}
#pierre, #feuille, #ciseaux {
    width: 30%;
    border: none;
    cursor: pointer;
}
#pierre {
    top: -700%;
    position: relative;
    background: url('../img/pierre.png') no-repeat;
    background-size: contain;
    background-position: center;
    animation-delay: 0.4s;
}
#feuille {
    top: -700%;
    position: relative;
    background: url('../img/feuille.png') no-repeat;
    background-size: contain;
    background-position: center;
    animation-delay: 0.8s;
}
#ciseaux {
    top: -700%;
    position: relative;
    background: url('../img/ciseaux.png') no-repeat;
    background-size: contain;
    background-position: center;
    animation-delay: 1.2s;
}
.fromTop {
    animation: fromTop 0.4s ease-in-out 0s 1 normal forwards;
}
@keyframes fromTop {
    from{top:-700%;}
    to{top:0%;}
}
.fromScale0 {
    animation: fromScale0 0.4s ease-in-out 0s 1 normal forwards;
}
@keyframes fromScale0 {
    from{transform: scale(0);}
    to{transform: scale(1);}
}

#winOrLoose {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: baseline;
    width: 100%;
}
#winCount, #looseCount, #nbTotalGame, #percentOfWin, #resetStats {
    font-size: 1.2rem;
    background-color: #EC202E;
    color: white;
    width: 70%;
    text-align: center;
    border: 1px solid #ffffff;
    padding: 1%;
}
#resetStats {
    margin-top: 2vh;
}
#resetStats:hover {
    cursor: pointer;
}
audio {
    height: 0px;
    width: 0px;
}

footer {
    position: relative;
    top: 0%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background: linear-gradient(0deg,#d2691e 0%, #d2691e 25%, #ffffff 100%); */
    /* background: linear-gradient(0deg,#fede47 0%, #eb132d 75%, #ffffff 100%); */
    /* background: linear-gradient(0deg,#ff0000 0%, #ffffff 100%); */
    background-color: #ff0000;
}
footer span {
    font-size: 12px;
    padding-bottom: 20px;
    color: white;
}
footer a {
    position: absolute;
    right: 2%;
    bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer a svg {
    max-width: 20vw;
    max-height: 10vh;
    min-width: 20vw;
    min-width: 10vh;
}

#logoAf {
	fill:none;
    stroke:#ffffff;
    stroke-width:14;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
}

@media screen and (min-width: 992px) {
    #rule span, #stats span {
        font-size: 28px;
    }
    #modalContent {
        height: 60%;
    }
    #modalStatsContent {
        margin: 7% auto;
    }
    #winOrLoose h2 {
        font-weight: normal;
        font-size: 40px;
    }
    #winOrLoose span {
        font-size: 25px;
    }
    .pushImg:hover {
        transform: scale(1.1);
        transition-duration: 0.4s;
    }
    #welcomeModalContent {
        margin: 12% auto;
    }
}